.centered {
    position: fixed; /* or absoute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Otherwise the start of the div would be centered not the div */
  }

  .font {
      font-family: Arial, Helvetica, sans-serif;
  }

  .search_buttons {
    text-align: center;
  }

  .alt_lang {
      font-size: small;
      text-align: center;
  }

  .search_field {
      text-align: center;
  }

  .navbar_top {
      float: right;
  }


  .navbar_top ul li {
    display: inline;
  }

  .navbar_top ul li a{
    color: grey;
    text-decoration: none;
    font-size: small;

  }

  .navbar_top ul li a:hover {
    text-decoration: underline;
  }
  
 
  .navbar_top ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

  }

  input {
      border-radius: 50px;
  }

  button {
      border-radius: 5px;
  }